*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
     font-family: Arial, Helvetica, sans-serif;
} 

.main_div{
    width: 100%;
    height: 100vh;
    background-color: #001e3c;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.center_div {
    width: 25%;
    height: 80vh;
    background-color: #ffffff;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

h1 {
    color: white;
    background: transparent;
    background-color: #974e0d;
    padding: 6px 0 2px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}

input {
    text-align: center;
    height: 30px;
    top: 10px;
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid #974e0d;
    outline: none;
}

button {
    min-height: 40px;
    width: 45px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #974e0d;
    color: #fff;
    font-size: 40px;
    border: none;
    outline: none;
    margin-left: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #dca265;
}

ol {
    margin-top: 30px;
    list-style: none;
}

ol li {
    padding-left: 0px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: #974e0d;
    text-transform: capitalize;
}

.todo_style {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
@media (max-width:768px){
    .center_div{
        width:55%;
    }

    .todo+stye .fa-times{
        margin: 0 15px 0 15px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
   button{
    margin-left: 5px;
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
   } 
}